.row {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	width: 100%;
	overflow-x: auto;
}

.box {
	text-align: center;
	border: 1px solid #f0f0f0;
	border-radius: 12px;
	padding: 15px 30px;
	cursor: pointer;
	transition: 0.3s;
}

.subtitle {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #191919;
}

.box:hover .subtitle {
	color: #e23535;
}

.box:hover .box-img img {
	transition: 0.3s;
	transform: scale(1.05);
}

.bottom {
	margin-top: 30px;
}

.bottom-row {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
}

.card {
	width: 280px;
	height: 330px;
	border-radius: 12px;
	background-color: #ff7010;
	cursor: pointer;
	position: relative;
	z-index: -5;
}

.card-img span {
	width: 100%;
}
.card-img span img {
	width: 100%;
}

.card-text {
	padding: 0 25px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	color: white;
	position: absolute;
	bottom: 25px;
}

.card:nth-child(1),
.card:nth-child(3) {
	background-color: #e23535;
}

.card-img img:nth-child(1),
.card-img img:nth-child(3) {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.card:nth-child(2),
.card:nth-child(4) {
	padding-top: 50px;
}

@media (max-width: 737px) {
	.card {
		width: 240px;
		height: 300px;
	}
}

@media (max-width: 637px) {
	.card {
		width: 100%;
	}

	.card-img img {
		height: 200px;
		width: 100%;
	}
}

.hero-form {
	margin-top: 30px;
	border-radius: 10px;
	border: 1px solid #f0f0f0;
	background-color: white;
	padding: 16px 24px;
}

.hero-form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.form-text {
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #191919;
}

.form-btn {
	background: #ff7010;
	border: none;
	color: white;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	border-radius: 6px;
	padding: 13px 32px;
	cursor: pointer;
}

.input-box {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 8px;
	width: 723px;
	border: 1px solid #f0f0f0;
	padding: 13px;
	border-radius: 8px;
}

.input-box input::placeholder {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	color: #a5a5a5;
}

.input-box input {
	border: none;
	background: none;
	outline: none;
	font-size: 16px;
	color: #191919;
}

@media (max-width: 1024px) {
	.input-box {
		width: 300px;
	}
}

@media (max-width: 768px) {
	.hero-form-row {
		flex-wrap: wrap;
	}

	.form-text {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 642px) {
	.hero-form-row {
		flex-direction: column;
		align-items: center;
	}

	.input-box,
	.form-btn {
		width: 100%;
	}

	.form-btn {
		padding: 12px 30px;
	}

	.input-box {
		padding: 12px;
	}
}
